rackspace_dfw:
  # Set the location of the salt-master
  #
  minion:
    master: {{ saltmaster }}

  # Configure Rackspace using the OpenStack plugin
  #
  identity_url: 'https://identity.api.rackspacecloud.com/v2.0/tokens'
  compute_name: cloudServersOpenStack
  protocol: ipv4

  # Set the compute region:
  #
  compute_region: DFW

  # Configure Rackspace authentication credentials
  #
  user: {{ os_user }}
  tenant: {{ os_tenant }}
  apikey: {{ os_apikey }}

  provider: openstack

  networks:
    - fixed:
      - {{ os_salt_network }}
      # This is Rackspace's "PublicNet"
      - 00000000-0000-0000-0000-000000000000
      # This is Rackspace's "ServiceNet"
      - 11111111-1111-1111-1111-111111111111
